<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Evento</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Agregar Evento</h1>
        <form method="POST">
            {% csrf_token %}
            <label>Evento:</label>
            <input type="text" name="event" required>
            <br>
            <label>Categoría:</label>
            <input type="text" name="category" required>
            <br>
            <label>Fecha:</label>
            <input type="date" name="date" required>
            <br>
            <button type="submit">Guardar</button>
        </form>
    </div>
</body>
</html>
